<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Programmer's Data</h1>

<form>
    <h3>Enter Programer's ID</h3>
    <input type="text" name = "pId"><input>
    <h3>Enter Programer's Name</h3>
    <input type="text" name = "pName"><input>
    <h3>Enter Programer's Language</h3>
    <input type="text" name = "pLang"><input>
    <button type="submit">Add Programmer</button>

</form>


</body>
</html>